<h1>Workouts</h1>
<%= link_to 'New Workout', new_workout_path, class: 'btn btn-primary' %>
<%= link_to 'New Exercise', new_exercise_path, class: 'btn btn-primary' %>
<div class="row">
  <div class="col-sm-6">
  </div>
</div>

