$nunito-font-path: '~nunito-fontface/fonts';
@import "~nunito-fontface/css/nunito/sass/nunito-fontface-regular";
$font-family-sans-serif: "nunito-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free";
@import "~flatpickr/dist/flatpickr";

body {
  padding-top: 70px;
}

.pagy-bootstrap-nav {
  @extend .d-flex, .justify-content-center;
  margin: 20px 0 40px;
}

//.pagination {
//  @extend .pagination-sm
//}
