<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">WORKOUT TRACKER</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar-collapse"
          aria-controls="main-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar-collapse">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item <%= 'active' if current_page?(workouts_path) %>">
        <%= link_to workouts_path, class: 'nav-link' do %>
          Workouts
        <% end %>
      </li>
    </ul>
  </div>

</nav>
